{% extends 'main/base.html' %}
{% load staticfiles %}

{% block blogactive %}active{% endblock blogactive %}

{% block title %}Blogsmond | About{% endblock title %}

{% block content %}
	 
	 	<section>
			<div class="container">
				<div class="row">
					<div class="col-md-6">

						<h2 class="mt-30"><b>Blogsmond.com</b></h2>
						<small>Business Guide and Exposure!</small>

						
					</div>
					<div class="col-md-6">
						<br />

						
						<h4 class="p-title"><b>About Blogsmond</b></h4>
						<p>
							Welcome to Blogsmond.<br />
							Blogsmond offers Growth and Exposure to Small Businesses.<br /><br />
							- Provide Blogs to guide Entrepreneurs and Business Owners in their day-to-day Business activities<br />
							- Promote and advertise small businesses to its audience and the world at large<br />
							- Provide Apps too!- where Entrepreneurs can blog about their Businesses and also Learn and acquire new set of skills<br /><br />
							<b>Enjoy!.</b>
						</p>
						<br />
						<a href="{% url 'index' %}" class="btn btn-primary" type="submit"> <i class="ion-ios-paperplane"> </i> Back Home </a>
						
						
					</div>
				</div>
			</div>
		</section>



{% endblock %}

<img src="{% static 'main/images/mainblog.png' %}" alt="image of blogsmond's CEO">

